<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MonSetupAvecCA" Language="1033" Version="1.0.0.0" Manufacturer="Infinite Square" UpgradeCode="6de9b0ac-9604-40cb-af10-bb8564e0f9d5">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="MonSetupAvecCA" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <CustomAction Id="SayHello" BinaryKey="MaCustomAction.CA" DllEntry="DeferredHello" Execute="deferred" Return="check" Impersonate="no" />

    <Property Id="SayHello" Value="Name=World" />

    <Binary Id="MaCustomAction.CA" SourceFile="..\MaCustomAction\bin\Debug\MaCustomAction.CA.dll" />

    <InstallExecuteSequence>
      <Custom Action="SayHello" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MonSetupAvecCA" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="TextFile1.txt" ProcessorArchitecture="x64"/>
      </Component>
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>
</Wix>
